<ui-view>

    <div class="container" >
        <div class="row">
            <div class="col-md-12">

                <a href="#">Home</a> &nbsp  | &nbsp <a href="#">About Us</a>
                <br><br>
                <h3 style="display: inline">ABOUT</h3>
                <img src="./images/line.png" alt="" width="80%" height="34px" >
                <div class="row">
                    <div class="col-md-3">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis.
                            Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis, porta nec,
                            tempus vitae, iaculis semper, pede.
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus.
                            Duis lobortis. Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis,
                            porta nec, tempus vitae, iaculis semper, pede. Cras vel libero id lectus rhoncus porta.</p>
                    </div>
                    <div class="col-md-3">
                        <p color="blue">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis. Nulla nec velit.

                            Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa.
                            Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                            Nunc augue. Aenean sed justo non leo vehicula laoreet.</p>
                        <p>
                            Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo.
                            Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam.
                            Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi.
                            Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero.</p>
                        <p> Praesent feugiat purus eget est.
                            Nulla facilisi. Vestibulum tincidunt sapien eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat.
                            Pellentesque eget velit. Nunc tincidunt.</p>
                    </div>
                    <div class="col-md-3">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            Morbi luctus. Duis lobortis. Nulla nec velit. Mauris pulvinar erat non massa.
                            Suspendisse tortor turpis, porta nec, tempus vitae, iaculis semper, pede.
                            Cras vel libero id lectus rhoncus porta. Suspendisse convallis felis ac enim.
                            Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui.
                            Nunc risus. Proin scelerisque augue. Nam ullamcorper</p><p>Maecenas ullamcorper, odio vel tempus egestas,
                        dui orci faucibus orci, sit amet aliquet lectus dolor et quam.
                        Pellentesque consequat luctus purus.</p><p>Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi.</p>
                        <p>.............................................</p>
                        <p>To all of you, from all of us at Magento Store - Thank you and Happy eCommerce!</p>
                        <h4><i>John Doe</i></h4>
                        <p>Some important guy</p>
                    </div>
                    <div class="col-md-3">
                        <h4>MY CART</h4>
                        <p>You have no items in your shopping cart.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





</ui-view>